body{
	font-family: 'Roboto', sans-serif;

}

main {
	border-style: solid;
	border-width: 1px;
    width: 800px;
    margin: 0 auto;
    background: white;
    padding-top: 5px;
    border-color: white;

}

ul{
	list-style-type:disc
}

div{
	background-color: #def6ed;
	border: white;
	border-radius: 4px;
	text-align: center;
}

.navbar {
 	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

.Buttons {
 	float: left;
  	display: block;
  	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}